body {
    background-color: [TopColor];
}

html {
    overflow-y: hidden;
}

#home {
    justify-content: start;
}

/* Mobile Design */

#mobile-glance {
    margin: 1vh;
}

#mobile-glance > p {
    padding: 0;
}

#mobile-top {
    margin: 1vh;
    padding: 1vh;
    height: 22vh;
    overflow: hidden;
}

#mobile-top > * {
    padding: 1vh;
    margin: 1vh;
}

#mobile-top p {
    color: #FFFFFF;
}

#mobile-top img {
    width: 4vh;
    height: 4vh;
    margin: 0 1vh;
}

#mobile-name {
    font-size: 6vh;
}

#mobile-day {
    font-size: 4vh;
}

#mobile-message {
    /* WebKit Mobile Scrolling */
    -webkit-overflow-scrolling: touch;
    align-content: normal;
    align-items: normal;
    align-self: stretch;
    height: 100%;
    width: 100%;
    padding: 0 1vh;
}

#mobile-names {
    /* WebKit Mobile Scrolling */
    -webkit-overflow-scrolling: touch;
    min-height: min-content;
}

#mobile-content > div {
    /* WebKit Mobile Scrolling */
    -webkit-overflow-scrolling: touch;
    justify-content: start;
    overflow-y: scroll;
    height: 70vh;
    min-height: 70vh;
    max-height: 70vh;
    scroll-behavior: smooth;
}

#mobile-content > div::-webkit-scrollbar {
    display: none;
}

#mobile p {
    direction: rtl;
}

.padded {
    padding: 1vh;
    margin: 0.5vh;
}

.minimal {
    max-width: 7vh;
    min-width: 7vh;
    width: 7vh;
    max-height: 7vh;
    min-height: 7vh;
    height: 7vh;
}

.maximal {
    min-height: fit-content;
}

.maximal > p {
    justify-content: start;
}

.maximal > div > p {
    width: 100%;
}