body {
    background-color: [ColorTop];
}

html {
    overflow-y: hidden;
}

#home {
    justify-content: start;
}

/* Mobile Design */

#mobile p {
    direction: rtl;
}

#mobile-top {
    margin: 1vh;
    padding: 1vh;
    height: 22vh;
    overflow: hidden;
}

#mobile-top > * {
    padding: 1vh;
    margin: 1vh;
}

#mobile-top p {
    color: #FFFFFF;
}

#mobile-top img {
    width: 4vh;
    height: 4vh;
    margin: 0 1vh;
}

#mobile-name {
    font-size: 6vh;
}

#mobile-day {
    font-size: 4vh;
}

#mobile-names {
    /* WebKit Mobile Scrolling */
    -webkit-overflow-scrolling: touch;
    min-height: min-content;
}

#mobile-message {
    /* WebKit Mobile Scrolling */
    -webkit-overflow-scrolling: touch;
    align-content: normal;
    align-items: normal;
    align-self: stretch;
    height: 100%;
    width: 100%;
    padding: 0 1vh;
}

#mobile-glance {
    margin: 1vh;
}

#mobile-glance > p {
    padding: 0;
}

#mobile-content > div {
    /* WebKit Mobile Scrolling */
    -webkit-overflow-scrolling: touch;
    justify-content: start;
    overflow-y: scroll;
    height: 65vh;
    min-height: 65vh;
    max-height: 65vh;
    scroll-behavior: smooth;
}

#mobile-content > div::-webkit-scrollbar {
    display: none;
}

#mobile-content > div > * {
    min-height: fit-content;
}

/* Desktop Design */

#desktop-subjects {
    min-height: 80vh;
    max-height: 80vh;
    height: 80vh;

    align-items: start;

    overflow-y: scroll;
}

#desktop-subjects::-webkit-scrollbar {
    display: none;
}

#desktop-content {
    align-items: center;
    direction: rtl;
}

#desktop-content > div {
    justify-content: stretch;
}

#desktop-content > div > * {
    min-width: 6vw;
    max-width: 6vw;
    width: 6vw;
}

#desktop-content > div p {
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh;
    font-size: 3vh;
    overflow: hidden;
    background-color: #ddddee;
}