<div id="home" column>
    <p id="title">Create new keys</p>
    <p id="content">Enter the amount of keys to generate then press generate.</p>
    <div column>
        <div id="inputs" column>
            <input id="amount" type="number" placeholder="Amount"/>
            <button onclick="submit();">Generate</button>
        </div>
        <div id="outputs" column>
            <p>You may now copy your keys.</p>
            <textarea id="output" style="height: 50vh;" placeholder="Generated keys"></textarea>
        </div>
    </div>
</div>